{% extends "layout.html" %}

{% block title %}
    Dogpack | Settings
{% endblock %}

{% block session %}
    <div class="wrapper-changepassword">
        <!-- slide down saved changes -->
        <div class="slidedown">
            <p>Changes Saved</p>
            <span class="material-symbols-outlined">
                check_circle
            </span>
        </div>
        <div class="changepass-form">
            <form>
                <div class="op">
                    <input type="password" autofocus autocomplete="off" name="cp-oldpassword" id="cp-oldpassword" placeholder="Old password">                    
                    <p class="flash error_op cperror">Enter old password</p>
                    <p class="flash error_unmatched cperror">Incorrect password</p>
                </div>
                <div class="np">
                    <input type="password" autofocus autocomplete="off" name="cp-newpassword" id="cp-newpassword" placeholder="New password">
                    <li class="min_pass nplength">Password must at least be 6 characters.</li>                    
                    <p class="flash error_np cperror">Enter new password</p>
                </div>
                <div class="vp">
                    <input type="password" autofocus autocomplete="off" name="cp-verifypassword" id="cp-verifypassword" placeholder="Verify new password">                    
                    <p class="flash error_vp cperror">Enter verification password</p>                    
                    <p class="flash error_vp_unmatched cperror">Password and verification password did not match.</p>
                </div>
                <input type="submit" value="Save changes">
            </form>
        </div>
    </div>
{% endblock %}